<div class="container-fluid px-4">


    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Branches</li>
    </ol>

    <div class="row">

        <div class="col-sm-5">
            <div class="card mb-5">
                <div class="card-header">
                    <h5><b>Add Branch</b></h5>

                </div>

                <div class="card-body">

                    <div class="col-md-12">
                        <p id="notify"></p>
                        <label> Branch Name</label>
                        <input class="form-control" id="name" type="text" placeholder="" />
                    </div>

                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-primary" id="btn-branch-add">Save </button>
                </div>

            </div>


        </div>


        <div class="col-sm-7">

            <div class="card mb-4 ">
                <div class="card-header">
                    <div class="row" style="text-align: right">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">

                            <button class="btn btn-success"><i class="fa fa-print"></i> Print</button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table table-responsive table-bordered" id="tblbranches">
                        <thead>
                            <tr>
                                <th><center> No.</center> </th>
                                <th> Name</th>
                             
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                         
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>





<!-- Modal Edit -->
<div class="modal fade" id="modal-branch-edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title"><b>Edit Branch</b></h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>



            </div>
            <div class="modal-body">

                <div class="form-floating mb-3 row">
                  

                    <div class="col-md-12">
                        <p id="notify"></p>
                        <label> Name</label>
                        <input class="form-control" id="branchid" type="hidden" placeholder="" />
                        <input class="form-control" id="name" type="text" placeholder="" />

                    </div>


                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-branch-edit">Update </button>
            </div>
        </div>
    </div>
</div>

