

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: rgb(204,204,204);
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

    page[size="A4"] {
        width: 21cm;
        height: 29.7cm;
    }

        page[size="A4"][layout="portrait"] {
            width: 29.7cm;
            height: 21cm;
        }



.patient-details-rows td {
    border: 3px solid #333333;
    font-size: 18px !important;
}

.fixed-bottom-table {
    position: fixed;
    bottom: 0;
    width: 100%; /* Adjust the width as needed */
    left: 0; /* Align the table to the left */
}


.pat-vital-tbl {
    font-size: 18px !important;
}
